@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

body {
  font-family: "Goldman", cursive;
  padding: 30px;
  margin: 10px;
  background-color: aquamarine;
}

.intro-text {
  width: 30%;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}
.intro-appear {
  opacity: 1;
  transform: translateY(0px);
}

#pic1 {
  height: 90vh;
  width: 90vw;
}
